html, body{
	margin:0;
	font-family: 'Dosis', sans-serif;
}
.page-title{
	float:left;
	width:100%;
	margin:0;
	padding:0 0 1% 0;
	line-height:50px;
	height:10%;
	box-sizing:border-box;
	background-color:#ffcd00;
}
.aree-container{
	height:90%;
	float:left;
	width:100%;
}
.container{
	background-color: #ebebeb;
	text-align:center;
	box-sizing:border-box;
	padding:0 0 2.5% 0;
	width:100%;
	height:100%;
}
.area{
	position:relative;
	float:left;
	width:33.3%;
	height:50%;
	box-sizing:border-box;
}
.second-row{
	border-top:10px solid #fff;
}
.area-image{
	width:80%;
	height:100%;
	float:left;
	
}
.room-name{
	width:100%;
	height:15%;
	padding-top:5%;
	padding-bottom:2.5%;
	margin:0;
}
.area img{
	width:50%;
	height:70%;
}
.components-container{
	float:left;
	margin:5% 0 0 5%;
	width:15%;
	height:85%;
	border-right:5px solid #fff;
	box-sizing:border-box;
}
.components-container img{
	height:auto;
	padding:20%;
	margin-bottom:5%;
}